body{
    background:red;
}

.wrapper{
    position: relative;
    width: 50%;
}
.wrapper .image{
    position: absolute;
}
.wrapper .image img{
    /* width:100%; */
    /* height: 500px; */
}
.slider-div{
    position:absolute;
    width: 111%;
    top:200px !important;
    margin:0px;
    padding:0px;
}
.slider{
    width:100%;
    margin:0px;
}
.invert-color{
    filter:grayscale(100);
}
#two{
    width:250px !important;
    overflow:hidden;
}
.compare{
    width:750px;
    height: auto;
}